################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ATM.Api/.vs
/ATM.Api/obj
/ATM.Api/Properties
/ATM.Core/obj
/ATM.Infrastructure/obj
/ATM.UseCases/obj
